PyAudio==0.2.14
PyYAML==6.0.3
RapidFuzz==3.14.5
cuda-pathfinder==1.2.2
cuda-toolkit==12.6.3
ddgs==9.14.4
dotenv==0.9.9
duckduckgo_search==8.1.1
edge-tts==7.2.8
en_core_web_sm==3.8.0
faster-whisper==1.2.1
huggingface_hub==1.18.0
jusText==3.0.2
keybert==0.9.0
keyboard==0.13.5
mdurl==0.1.2
openwakeword==0.4.0
optype==0.17.1
pdfplumber==0.11.9
pip-chill==1.0.5
pipreqs==0.4.13
playsound==1.2.2
playsound3==3.3.1
pvporcupine==4.0.2
pydantic_core==2.46.4
pydub==0.25.1
pygame==2.6.1
pynput==1.8.2
readme_renderer==44.0
scipy-stubs==1.17.1.5
smart_open==7.6.1
trafilatura==2.1.0
webrtcvad==2.0.10
